/* signup and login  */
.signup-wrapper{
    background-color: #E3FDFD;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-box{
    width: 60%;
    height: 70vh;
    border-radius: 10px;
    background-color:  #A6E3E9;
    display: flex;
    overflow: hidden;
}
.signup-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

}
.signup-right{
    width: 50%;
    height: 100%;
    background-color:  #fff;
    padding: 10px;
    padding-top: 100px;  
    padding-bottom: 100px;   
}
.signup-right h1{
    text-align: center;
}
.signup-right form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin:20px; */
    gap:20px;
}
.signup-right form input{
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    font-size: 20px;
    border:1px solid #3c3d3d
}
.signup-right form button{
    width: 82%;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #A6E3E9;
    border:1px solid #3c3d3d
}
.signup-right form img{
    width: 60px;
    height: 60px;
}





@media only screen and (min-width:200px) and (max-width:575px) {
        .signup-left{
            display: none;
        }
        .signup-right{
            width: 100%;
        }
}




/* =========================DASHBOARD================= */
.dashboard-main-container {
    max-width: 100%;
    height: 100vh;
   background-color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard-container {
    width: 95%;
    height: 95%;
    display: flex;
    background-color: #A6E3E9;
    border-radius: 10px;
    overflow: hidden;
  }
  .navbar-container{
    width: 20%;
    height: 100vh;
    position: relative;
    background-color: #71C9CE;
  }
  .main-container{
    width: 80%;
    height: 100vh;
    background-color: #E3FDFD;
  }
  .top-bar{
    width: 100%;
    height: 10vh;
    overflow: hidden;
    background-color:#c4ecee ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
  }
  .logo-container{
    width: 50px;

    height:50px;
    overflow: hidden;
    border-radius: 50px;

  }
  .logo-container img{
    width: 50px;
    height: 50px;
  }

  .brand-container{
    height: 70px;
    width: 70px;
    margin:10px;
    background-color: red;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap:5px;
  }
  .brand-container img{
    height: 70px;
    width: 70px;
  }
  .brand-container h1{
    font-size: 15px;
  }
  .brand-container  div{
    display: flex;
    
  }






  /* ============Menu=========== */

.menu-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    font-size: 20px;
}
.menu-link{
    color: #E3FDFD;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}
.menu-link:hover{
    background-color: black;
    transition-duration: 0.5s;
}
.contact-us{
    bottom:50px;
    position: absolute; 
}